@page "/RoleManagement/CreateOrEditRole"
<PageTitle>@PageTitle</PageTitle>

<div class="mt-1"><h4 >@PageTitle</h4></div>

<EditForm Model="_role" OnValidSubmit="SaveRole">    
    <div class="form-group row">
        <label for="name" class="col-md-1 col-form-label col-form-label-sm">Name:</label>
        <div class="col-md-10">
            <InputText id="roleName" class="form-control form-control-sm" @bind-Value="_role.Name" />
        </div>
    </div>
    <div class="form-group row mt-1">
        <label for="description" class="col-md-1 col-form-label  col-form-label-sm">Description:</label>
        <div class="col-md-10">
            <InputText id="description" class="form-control form-control-sm" @bind-Value="_role.Description" />

        </div>
    </div>
    <div class="row ms-5 mt-2">
        <table class="table-sm w-75">
            <thead>
                <tr>
                    <th>
                        Permission Group
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Assigned
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var permissionGroup in _groupedPermissions)
                {
                    var isFirstRowInGroup = true;
                    @foreach (var permission in permissionGroup.Permissions)
                    {
                        <tr class="border-bottom">
                            <td>
                             @(isFirstRowInGroup ?  @permissionGroup.GroupName : "")
                            </td>
                            <td>@permission.ShortName</td>
                            <td>@permission.Description</td>
                            <td class="text-center"><InputCheckbox class="form-check-input" checked="@permission.IsSelected" @bind-Value="permission.IsSelected" /></td>                         
                        </tr>                  
                        isFirstRowInGroup = false;
                    }
                    
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button id="save" type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</EditForm>
