
@if (IsVisible)
{
    <table class="table-sm">
        <thead>
            <tr><th colspan="4">Assigned Roles</th></tr>
            <tr>
                <th>
                    Role Name
                </th>
                <th>
                    Permissions
                </th>
            </tr>
        </thead>
        <tbody id="permission-selection">

@*            @foreach (var role in _rolesDisplay)
            {
                <tr>
                    <td class="align-top">
                        @role.RoleName
                    </td>
                    <td>
                        <table class="table">
                            <tr>
                                <td>
                                    <ul>
                                        @foreach (PermissionInfoDto permission in role.Permissions)
                                        {
                                            <li>
                                                <label>@permission.ShortName</label>
                                                <Input type="checkbox" class="form-check-input" checked="@permission.IsSelected" 
                                                @onchange="eventArgs => { CheckboxClicked(role.RoleName, permission, eventArgs.Value ?? false); }" />
                                            </li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }*@
            <tr>
                <td>
                    <button class="btn btn-info" @onclick="(() => SaveAsync())">Save</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                </td>
            </tr>
        </tfoot>
    </table>
}

@*<tr>
    <td>
    @permission.GroupName
    </td>
    <td>
    @permission.Description
    </td>
    <td>
    @permission.PermissionName

    </td>
    <td>
    <button type="button" class="btn-sm  @(Model.PermissionsWithSelect[i].Selected ? "btn-primary" : "btn-secondary")">
    @(Model.PermissionsWithSelect[i].Selected ? "Selected" : "Select")
    </button>
    </td>
    </tr>*@