@using Security.Core.Models.Administration.RoleManagement
<table class="table-sm">
    <thead>
        <tr><th colspan="2">User Access</th></tr>
        <tr>
            <th>
                Email Address
            </th>
            <th>
                Permissions
            </th>
        </tr>
    </thead>
    <tbody id="permission-selection">
        <tr>
            <td valign="top">@User.Email</td>
            <td colspan="2">
                <table class="table-sm">
                    <thead>
                        <tr>
                            <th colspan="4">Assigned Roles</th>
                        </tr>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Permissions
                            </th>
                            <th>
                                Assigned
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (RoleDto role in _roleList)
                        {
                            <tr class="border-bottom">
                                <td>@role.Name</td>
                                <td>@role.Description</td>
                                <td>
                                    @foreach (var permission in role.PermissionsInRole)
                                    {
                                        <li>@permission</li>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (User.AssignedRoles.Any(ar => ar.RoleName == role.Name && !ar.IsDeleted))
                                    {
                                        <button class="btn btn-danger" @onclick="(() => RevokeRole(role))">Revoke</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success" @onclick="(() => GrantRole(role))">Grant</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
              
                @if (_messages != null && _messages.Count() > 0)
                {
                    foreach (string message in _messages)
                    {
                        <ul>
                            <li>@message</li>
                        </ul>
                    }
                }
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
            </td>
        </tr>
    </tfoot>
</table>